<form [formGroup]="userReactiveForm">
  <label for="rut">SKU</label>
  <input type="text"
    id="rut"
    placeholder="Rut"
    [formControl]="userReactiveForm.controls['rut']"
    plRut
    >
</form>



<hr>

<h3>User Data Directive</h3>

<h3>Pipe</h3>
<pre>{{ user.rut | rut }}</pre>

<h3>User Form Directive</h3>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <label for="rut">RUT</label>
  <input type="text" [(ngModel)]="user.rut" plRut name="rut" #rut="ngModel" validateRut>
  <ul [hidden]="rut.valid || rut.pristine">
    <li *ngIf="rut.errors && rut.errors.required">Required</li>
    <li *ngIf="rut.errors && rut.errors.invalidRut">Invalid</li>
  </ul>
  <br /><br />
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
